<h2>Flight Information</h2>
<p>Flight Number: <%= @flight.number %></p>
<p>Flight Date: <%= @flight.date %></p>
<p>Flight Time: <%= @flight.time %></p>
<p>Departure City: <%= @flight.departure_city %></p>
<p>Arrival City: <%= @flight.arrival_city %></p>
