<h1>Flight Information</h1>
<h2>Airline: <%= @flight.airline.name %></h2>
<p>Flight Number: <%= @flight.number %></p>
<p>Flight Date: <%= @flight.date %></p>
<p>Flight Time: <%= @flight.time %></p>
<p>Departure City: <%= @flight.departure_city %></p>
<p>Arrival City: <%= @flight.arrival_city %></p>

<section class='passengers'>
  <h3>Passengers:</h3>
  <% @flight.passengers.each do |passenger| %>
  <p><%= passenger.name %></p>
  <% end %>
</section>
