<h2>Passenger Information</h2>
<h3>Passenger Name: <%= @passenger.name %></h3>
<h3>Passenger Flights:</h3>
<% @passenger.flights.each do |flight| %>
<section class="flight-<%= flight.id %>">
  <p>Flight Number: <%= link_to "#{flight.number}", "/flights/#{flight.id}" %></p>
</section>
<% end %>

<section class='add-flight-form'>
  <h3>Add a Flight For <%= @passenger.name %></h3>
  <%= form_tag "/passengers/#{@passenger.id}/flights" do %>
    <%= label_tag :flight_number, 'Flight Number' %>
    <%= number_field_tag :flight_number %>
    <%= submit_tag 'Add Flight' %>
  <% end %>
</section>
